@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="container-fluid bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Ласкаво просимо до OnlineStore</h1>
                <p class="lead">Інтернет-магазин з широким асортиментом товарів</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-cart fa-3x text-primary mb-3"></i>
                    <h4 class="card-title">Каталог товарів</h4>
                    <p class="card-text">Перегляньте наш широкий асортимент товарів у різних категоріях</p>
                    <a href="/User/Home" class="btn btn-primary btn-lg">Переглянути каталог</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <i class="fas fa-cogs fa-3x text-success mb-3"></i>
                    <h4 class="card-title">Панель адміністратора</h4>
                    <p class="card-text">Управляйте товарами, категоріями та замовленнями</p>
                    <a href="/Admin/Products" class="btn btn-success btn-lg">Увійти в адмін панель</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <i class="fas fa-truck fa-2x text-info mb-3"></i>
            <h5>Швидка доставка</h5>
            <p>Доставимо ваше замовлення протягом 1-2 днів</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-shield-alt fa-2x text-info mb-3"></i>
            <h5>Гарантія якості</h5>
            <p>Всі товари мають офіційну гарантію</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-headset fa-2x text-info mb-3"></i>
            <h5>Підтримка 24/7</h5>
            <p>Наша команда завжди готова допомогти</p>
        </div>
    </div>
</div>